<p id="notice"><%= notice %></p>
<div class="container" id="page-wrap">
  <h1>Articles</h1>

      <% @articles.each do |article| %>
    <div class="article_entry">
            <h3><%= link_to article.title.html_safe, article %></h3>
            <div id="author_info">
              <%= link_to article.author, class: :"author_link" do %>
                <%= image_tag article.author.avatar.article_thumb, class: "avatar" %>
                <%= article.author.name %>
              <% end %>
            </div>
            <i> <%= article.created_at %></i>
            <p><%= sanitize article.body.truncate(300) %></p>
    </div>
      <% end %>
</div>
