<p id="notice"><%= notice %></p>

<div class="container" id="page-wrap">
  <div class="col-md-12">
  <h3>Articles</h3>


<div class="col-md-12">
  <% unless @articles.blank? %>
  <% @articles.each do |article| %>
<div class="article_entry">
        <% if article.published? %>
        <h3><%= link_to article.title.html_safe, article %></h3>
        <div id="author_info">
          <%= link_to article.author, class: :"author_link" do %>
            <%= image_tag article.author.avatar.article_thumb, class: "avatar" %>
            <%= article.author.name %>
          <% end %>
        </div>
        <small class="time"> <i class="fa fa-clock-o"></i> <%= article.created_at.to_date.iso8601  %></small>
        <p><%= strip_tags(article.body).truncate(300) %></p>
</div>
        <% end %>
  <% end %>
<% else %>
<%= render "no-articles" %>
<% end %>
</div>

    </div>

    </div>
  </div>
</div>
