<p id="notice"><%= notice %></p>

<div class="container" id="page-wrap">
  <div id="article_expanded" class="col-md-8">
    <h1 class="title">
      <%= @article.title.html_safe %>
    </h1>

    <div id="author_info">
      <%= link_to @article.author, class: :"author_link" do %>
        <%= image_tag @article.author.avatar.article_thumb, class: "avatar" %>
        <%= @article.author.name %>
      <% end %>
    </div>

    <small class="time"> <i class="fa fa-clock-o"></i> <%= @article.created_at %></small>

    <div class="entry_actions">
      <%= link_to edit_article_path(@article) do %>
      <i class="fa fa-pencil"></i>
        <% end %>
      <%= link_to @article, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="fa fa-close"></i>
      <% end %>
    </div>

      <%= @article.body.html_safe %>
  </div>
</div>
